window {
	margin: 0px;
	border: 1px solid #71CEAD;
	background-color: #11221C;
}

#input {
	margin: 5px;
	border: none;
	color: #C1C497;
	background-color: #214237;
}

#inner-box {
	margin: 5px;
	border: none;
	background-color: #11221C;
}

#outer-box {
	margin: 5px;
	border: none;
	background-color: #11221C;
}

#scroll {
	margin: 0px;
	border: none;
}

#text {
	margin: 5px;
	border: none;
	color: #C1C497;
} 

#entry:selected {
	color: #71CEAD;
	background-color: #214237;
}

