window {
	margin: 0px;
	border: 1px solid #08bdba;
	background-color: #161616;
}

#input {
	margin: 5px;
	border: none;
	color: #f2f4f8;
	background-color: #262626;
}

#inner-box {
	margin: 5px;
	border: none;
	background-color: #161616;
}

#outer-box {
	margin: 5px;
	border: none;
	background-color: #161616;
}

#scroll {
	margin: 0px;
	border: none;
}

#text {
	margin: 5px;
	border: none;
	color: #f2f4f8;
} 

#entry:selected {
	color: #08bdba;
	background-color: #262626;
}

