window {
	margin: 0px;
	border: 1px solid #61AFEF;
	background-color: #282C34;
}

#input {
	margin: 5px;
	border: none;
	color: #ABB2BF;
	background-color: #3E4451;
}

#inner-box {
	margin: 5px;
	border: none;
	background-color: #282C34;
}

#outer-box {
	margin: 5px;
	border: none;
	background-color: #282C34;
}

#scroll {
	margin: 0px;
	border: none;
}

#text {
	margin: 5px;
	border: none;
	color: #ABB2BF;
} 

#entry:selected {
	color: #61AFEF;
	background-color: #3E4451;
}

