window {
	margin: 0px;
	border: 1px solid #c6d0f5;
	background-color: #24273a;
}

#input {
	margin: 5px;
	border: none;
	color: #cad3f5;
	background-color: #363a4f;
}

#inner-box {
	margin: 5px;
	border: none;
	background-color: #24273a;
}

#outer-box {
	margin: 5px;
	border: none;
	background-color: #24273a;
}

#scroll {
	margin: 0px;
	border: none;
}

#text {
	margin: 5px;
	border: none;
	color: #cad3f5;
} 

#entry:selected {
	color: #c6d0f5;
	background-color: #363a4f;
}

