window {
	margin: 0px;
	border: 1px solid #a8a9eb;
	background-color: #2c2525;
}

#input {
	margin: 5px;
	border: none;
	color: #e6d9db;
	background-color: #3a3333;
}

#inner-box {
	margin: 5px;
	border: none;
	background-color: #2c2525;
}

#outer-box {
	margin: 5px;
	border: none;
	background-color: #2c2525;
}

#scroll {
	margin: 0px;
	border: none;
}

#text {
	margin: 5px;
	border: none;
	color: #e6d9db;
} 

#entry:selected {
	color: #a8a9eb;
	background-color: #3a3333;
}

